<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>OnlineQuizPortal</display-name>
  <welcome-file-list>
    <welcome-file>admin-login.jsp</welcome-file>
    <welcome-file>register.jsp</welcome-file>
    <welcome-file>user-dashboard.jsp</welcome-file>
    <welcome-file>admin-dashboard.jsp</welcome-file>
    <welcome-file>create-quiz.jsp</welcome-file>
    <welcome-file>leaderboard.jsp</welcome-file>
    <welcome-file>question-list.jsp</welcome-file>
    <welcome-file>quiz.jsp</welcome-file>
    <welcome-file>quiz-list.jsp</welcome-file>
    <welcome-file>add-question.jsp</welcome-file>
    <welcome-file>add-question-to-quiz.jsp</welcome-file>
     <welcome-file>logout.jsp</welcome-file>
      <welcome-file>submit-quiz.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminAuthServlet</display-name>
    <servlet-name>AdminAuthServlet</servlet-name>
    <servlet-class>com.servlet.AdminAuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAuthServlet</servlet-name>
    <url-pattern>/AdminAuthServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDashboard</display-name>
    <servlet-name>AdminDashboard</servlet-name>
    <servlet-class>com.servlet.AdminDashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDashboard</servlet-name>
    <url-pattern>/AdminDashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuizCreationServlet</display-name>
    <servlet-name>QuizCreationServlet</servlet-name>
    <servlet-class>com.servlet.QuizCreationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuizCreationServlet</servlet-name>
    <url-pattern>/QuizCreationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAuthenticationServlet</display-name>
    <servlet-name>UserAuthenticationServlet</servlet-name>
    <servlet-class>com.servlet.UserAuthenticationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAuthenticationServlet</servlet-name>
    <url-pattern>/UserAuthenticationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuizAttemptServlet</display-name>
    <servlet-name>QuizAttemptServlet</servlet-name>
    <servlet-class>com.servlet.QuizAttemptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuizAttemptServlet</servlet-name>
    <url-pattern>/QuizAttemptServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LeaderBoardServlet</display-name>
    <servlet-name>LeaderBoardServlet</servlet-name>
    <servlet-class>com.servlet.LeaderBoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeaderBoardServlet</servlet-name>
    <url-pattern>/LeaderBoardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddQuestionServlet</display-name>
    <servlet-name>AddQuestionServlet</servlet-name>
    <servlet-class>com.AddQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddQuestionServlet</servlet-name>
    <url-pattern>/AddQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddQuestionServlets</display-name>
    <servlet-name>AddQuestionServlets</servlet-name>
    <servlet-class>com.servlet.AddQuestionServlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddQuestionServlets</servlet-name>
    <url-pattern>/AddQuestionServlets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddQuestionToQuizServlet</display-name>
    <servlet-name>AddQuestionToQuizServlet</servlet-name>
    <servlet-class>com.servlet.AddQuestionToQuizServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddQuestionToQuizServlet</servlet-name>
    <url-pattern>/AddQuestionToQuizServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionListServlet</display-name>
    <servlet-name>QuestionListServlet</servlet-name>
    <servlet-class>com.servlet.QuestionListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionListServlet</servlet-name>
    <url-pattern>/QuestionListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDashboardServlet</display-name>
    <servlet-name>UserDashboardServlet</servlet-name>
    <servlet-class>com.servlet.UserDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDashboardServlet</servlet-name>
    <url-pattern>/UserDashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitQuizServlet</display-name>
    <servlet-name>SubmitQuizServlet</servlet-name>
    <servlet-class>com.servlet.SubmitQuizServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitQuizServlet</servlet-name>
    <url-pattern>/SubmitQuizServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>